<div>
    <div class="form">
      <mat-card class="card">
        <mat-card-title>Create Role</mat-card-title>
        <mat-card-content>
          <div class="container">
            <mat-form-field>
              <input
                [(ngModel)]="registerData.name"
                matInput
                placeholder="Role Name"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <input
                [(ngModel)]="registerData.description"
                matInput
                placeholder="Role Description"
                required
              />
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="registerRole()" class="button" mat-raised-button>
            Register Role
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
